.projects {
    padding: 5rem 1rem;
    background-color: #000000;
    color: white;
    text-align: center;
  }
  
  .section-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: #b74b4b;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .project-card {
    background-color:white;
    border-color: white;
    padding: 1.5rem;
    border-radius: 12px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 8px 20px rgba(183, 75, 75, 0.5); */
  }
  
  .project-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #b74b4b;
  }
  
  .project-description {
    font-size: 1rem;
    color: black;
    margin-bottom: 1.5rem;
  }
  
  .project-link {
    text-decoration: none;
    color: #b83535;
    font-weight: 600;
    border: 2px solid #b74b4b;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
  }
  
  .project-link:hover {
    background-color: #b74b4b;
    color: white;
  }
  